Django>=2.0,<3.0
psycopg2-binary>=2.7,<3.0
numpy
pandas
django-pandas
requests
djangorestframework
markdown
django-filter
matplotlib
redis
async
timedelta
datetime
django-background-tasks
math-tokenizer
django-bootstrap3
python-dateutil
websocket_client
missingno
seaborn
pandas-profiling
statsmodels
scikit-learn
channels
channels_redis
django-model-utils 
pyfiglet
django-chartjs

